<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceJournalsAccess" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52404/ServiceJournalsAccess.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceJournalsAccess"
                contract="JournalsServiceReference.IServiceJournalsAccess"
                name="BasicHttpBinding_IServiceJournalsAccess" />
        </client>
    </system.serviceModel>
</configuration>